.starDisplay
  margin-top: 157%

.favoriteRow
  margin-top: 3%

.star
	margin: 0px

.pairImage
	margin: 10px
	max-width: 90%
	max-height: 100%

.pairImageWrapper
	overflow: hidden
	background: white

.loginMsg
  background: white
  border-radius: 30px
  padding: 15px