<div class="overflowAuto">
  <div class="row" ng-if="!user">
    <div class="valign-wrapper">
      <div class="col s8 offset-s2 valign"> 
        <h1 class="center-align loginMsg">Login In To View Your Favorites!</h1>
      </div>
    </div>
  </div>
  <div ng-repeat="favorite in favorites" ng-show="user">
    <div class="row favoriteRow">
      <div class="col s4">
        <div class="center-align">
          <div class="pairImageWrapper">
            <img class="pairImage" ng-src="{{favorite.bookCover}}">
            <h6>{{favorite.bookAuthor}}</h6>
            <h6>{{favorite.bookTitle}}</h6>
          </div>
        </div>
      </div>
      <div class="col s1"></div>
      <div class="col s2 favoriteWrapper">
        <div class="center-align starDisplay">
          <a class="" ng-click="removeFavorite(favorite.refKey)"><i class="material-icons pointer">favorite</i></a>
          <ul class="star-rating no-animation">
            <li ng-repeat="star in favorite.stars" class="star no-animation" ng-class="{filled: star.filled}" ng-click="rateSelectedAlbum(favorite, $index)">
              <i class="material-icons no-animation" ng-show="!star.filled">star_border</i>
              <i class="material-icons no-animation" ng-show="star.filled">star</i>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s1"></div>
      <div class="col s4">
        <div class="center-align">
          <div class="pairImageWrapper">
            <img class="pairImage" ng-src="{{favorite.albumImage}}">
            <h6>{{favorite.albumArtist}}</h6>
            <h6>{{favorite.albumName}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  