<div class="container">
  <div class="col s10 offset-s1 largeDiv card-panel yellow lighten-5">
    <div class="row smallDivRow">
      <div class="col s4 push-s2">
        <a class="waves-effect waves-light btn-large" ng-click="login()">Login With Google</a>
      </div>
      <div class="col s4 push-s2">
        <input type="email" name="email" class="validate" ng-model="email">
        <input type="password" name="password" placeholder="password" ng-model="password">
        <a href="#!" class="waves-effect waves-green btn-flat" ng-click="existingEmail()">Login</a>
        <a href="#!" class="waves-effect waves-green btn-flat" ng-click="newEmail()">Sign Up</a>
      </div>
    </div>
  </div>  
</div>


    