<div class="container">
  <div class="row">
    <div class="col s4 pairContainer">
      <div class="pairWrapper">
        <img class="pairImage" ng-src="{{selectedBookImage}}">
        <h6>{{selectedBookTitle}}</h6>
        <h6>{{selectedBookAuthor}}</h6>
      </div>
    </div>  
    <div class="col s1"></div>
    <div class="col s2 pairContainer">
      <a class="waves-effect waves-light btn pairBtn" ng-if="!album" ng-click="pair()">Pair</a>
      <a class="waves-effect waves-light btn pairBtn" ng-if='album' ng-click="changeCurrentAlbum()">Next Album</a>
    </div>
    <div class="col s1"></div>
    <div class="col s4 pairContainer">
      <div class="pairWrapper">
        <img ng-if="!album" class="pairImage questionImg" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/black-ink-grunge-stamps-textures-icons-alphanumeric/068714-black-ink-grunge-stamp-textures-icon-alphanumeric-question-mark1-ps.png">
        <img ng-if="album" class="pairImage" ng-src="{{currentAlbumImage}}">
        <h6>{{currentAlbum.artist.name}}</h6>
        <h6>{{currentAlbum.name}}</h6>
        <a class="" ng-show="user && !currentAlbum.favorite" ng-click="buildFavoriteObject()"><i class="material-icons pointer">favorite_border</i></a>
        <a class="" ng-show="user && currentAlbum.favorite" ng-click="removeFavorite(currentAlbum.refKey)"><i class="material-icons pointer">favorite</i></a>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>