<div class="container">
  <div class="input-field searchDiv">
    <input id="search" type="search" required ng-model="searchTerms" placeholder="Search by Author or Title">
    <label for="search"><i class="material-icons">search</i></label>
    <i class="material-icons">close</i>
    <md-menu class="dropdown" width="4">
      <md-button aria-label="Open select by Menu" ng-click="openMenu($mdOpenMenu, $event)">
        <md-label>Select By</md-label>
        <i class="material-icons">arrow_drop_down</i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item> 
          <md-button ng-click="searchBy('author')">
            Author
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="searchBy('title')">
            Title
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <a class="waves-effect waves-light btn searchBtn" ng-click="initiateSearch(searchTerms)">Search</a>
  </div>
  <div ng-repeat='book in booklist'>
    <p>{{book.title}}</p>
    <img ng-src="{{book.cover.medium}}">
    <a class="btn-floating btn-large waves-effect waves-light red" ng-click="selectBook(book)"><i class="material-icons">add</i></a>
  </div>
</div>