.no-animation {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  -webkit-transition: none !important;
  transition-property: none !important;
  transition: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  margin: 20px 10%;
  display: block; }
  .no-animation .star {
    list-style-type: none;
    display: inline-block;
    cursor: pointer; }

.pointer {
  cursor: pointer; }

.overflowAuto {
  overflow: auto;
  height: 90vh; }

body {
  background: url(../app/img/vinyl.jpg) center center fixed;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.starDisplay {
  margin-top: 157%; }

.favoriteRow {
  margin-top: 3%; }

.star {
  margin: 0px; }

.pairImage {
  margin: 10px;
  max-width: 90%;
  max-height: 100%; }

.pairImageWrapper {
  overflow: hidden;
  background: white; }

.loginMsg {
  background: white;
  border-radius: 30px;
  padding: 15px; }

.bookImage {
  height: 400px;
  width: 300px; }

.pairImage {
  height: 400px;
  width: 300px; }

.searchDiv {
  margin-top: 5%;
  background: white;
  padding: 30px;
  border-radius: 30px; }

.dropdown {
  border-radius: 10px; }

.largeDiv {
  border: 1px solid black;
  border-radius: 30px; }
  .largeDiv .smallDiv {
    border: 1px solid black; }

.pairLogo {
  margin-left: 10px; }
