.no-animation {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  -webkit-transition: none !important;
  transition-property: none !important;
  transition: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  margin: 20px 10%;
  display: block; }
  .no-animation .star {
    list-style-type: none;
    display: inline-block;
    cursor: pointer; }

.pointer {
  cursor: pointer; }

.starDisplay {
  margin-top: 157%; }

.favoriteRow {
  margin-top: 3%; }

.star {
  margin: 0px; }

.pairImage {
  border-radius: 50%; }

.bookImage {
  height: 400px;
  width: 300px; }

.pairImage {
  height: 400px;
  width: 300px; }

.searchDiv {
  margin-top: 5%; }

.largeDiv {
  border: 1px solid black; }
  .largeDiv .smallDiv {
    border: 1px solid black; }
